/*Copiamos la estructura del elemento contenedor*/

.LoadingTask-container {
  list-style: none;
  background-color: #FAFAFA;
  border-radius: 15px;
  height: 100px;
  width: 300px;
  padding: 0;
  margin: 0;
}

/*Aquí continua para armar el efecto*/
.LoadingTask-container{
  background: linear-gradient(90deg, #FAFAFA, #B2D2A4);
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}